<h1>Places I've Visited</h1>

<ul>
  <% if @places.any? %>
    <% @places.each do |place| %>
      <li>
        <%= link_to (place.name.present? ? place.name : "Unnamed Place"), "/places/#{place.id}" %>
      </li>
    <% end %>
  <% else %>
    <p>No places added yet.</p>
  <% end %>
</ul>

<%= link_to "Add New Place", "/places/new" %>
